body {
    font-family: "Computer Modern Serif", serif;
    margin:0;
  }
.graph-info-msg{
    top: 50%;
    width: 100%;
    text-align: center;
    color: rgb(97, 177, 252);
    opacity: 1;
    font-size: 22px;
    position: absolute;
}
.wrapper {
    position: relative;
}
#info{
position: absolute;
top: 0.5em;
left:1em;
right: 0;
}
.dg .cr.boolean {
    border-left: 3px solid #fa003e !important
}

.dg .cr.number {
    border-left: 3px solid #13a6fc !important
}